# Artificial Neural Network

In [1]:
import numpy as np
import pandas as pd
import tensorflow as tf

c:\ProgramData\Anaconda3\lib\site-packages\scipy\__init__.py:146: UserWarning: A NumPy version >=1.16.5 and <1.23.0 is required for this version of SciPy (detected version 1.24.1
  warnings.warn(f"A NumPy version >={np_minversion} and <{np_maxversion}"

In [2]:
df = pd.read_csv("Churn_Modelling.csv")
df.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

## Part 1 - Data Preprocessing

In [12]:
df_x = df.copy()
X = df_x.drop(['RowNumber', 'CustomerId', 'Surname','Exited'], axis=1)
y = df_x['Exited']
print(X.head(), y.head())

   CreditScore Geography  Gender  Age  Tenure    Balance  NumOfProducts  \
0          619    France  Female   42       2       0.00              1
1          608     Spain  Female   41       1   83807.86              1
2          502    France  Female   42       8  159660.80              3
3          699    France  Female   39       1       0.00              2
4          850     Spain  Female   43       2  125510.82              1

   HasCrCard  IsActiveMember  EstimatedSalary
0          1               1        101348.88
1          0               1        112542.58
2          1               0        113931.57
3          0               0         93826.63
4          1               1         79084.10   0    1
1    0
2    1
3    0
4    0
Name: Exited, dtype: int64

### Encoding categorical data

In [16]:
from sklearn.preprocessing import LabelEncoder
le = LabelEncoder()
X['Gender'] = le.fit_transform(X['Gender'])
X.head(10)

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,0,42,2,0.00,1,1,1,101348.88
1,608,Spain,0,41,1,83807.86,1,0,1,112542.58
2,502,France,0,42,8,159660.80,3,1,0,113931.57
3,699,France,0,39,1,0.00,2,0,0,93826.63
4,850,Spain,0,43,2,125510.82,1,1,1,79084.10
5,645,Spain,1,44,8,113755.78,2,1,0,149756.71
6,822,France,1,50,7,0.00,2,1,1,10062.80
7,376,Germany,0,29,4,115046.74,4,1,0,119346.88
8,501,France,1,44,4,142051.07,2,0,1,74940.50
9,684,France,1,27,2,134603.88,1,1,1,71725.73

## One Hot Encoding the "Geography" column

In [24]:
from sklearn.compose import ColumnTransformer
from sklearn.preprocessing import OneHotEncoder
ct = ColumnTransformer(transformers=[('encoder', OneHotEncoder(), [1])], remainder='passthrough')
X_final = pd.DataFrame(ct.fit_transform(X))
X_final.head()

    0    1    2      3    4     5    6          7    8    9    10         11
0  1.0  0.0  0.0  619.0  0.0  42.0  2.0       0.00  1.0  1.0  1.0  101348.88
1  0.0  0.0  1.0  608.0  0.0  41.0  1.0   83807.86  1.0  0.0  1.0  112542.58
2  1.0  0.0  0.0  502.0  0.0  42.0  8.0  159660.80  3.0  1.0  0.0  113931.57
3  1.0  0.0  0.0  699.0  0.0  39.0  1.0       0.00  2.0  0.0  0.0   93826.63
4  0.0  0.0  1.0  850.0  0.0  43.0  2.0  125510.82  1.0  1.0  1.0   79084.10

### Splitting the dataset into the Training set and Test set

In [25]:
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X_final, y, test_size = 0.2, random_state = 0)

In [26]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()
X_train = sc.fit_transform(X_train)
X_test = sc.transform(X_test)

## Part 2 - Building the ANN

In [27]:
ann = tf.keras.models.Sequential()                          # Initializing the ANN
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))  # Adding the input layer and the first hidden layer
ann.add(tf.keras.layers.Dense(units=6, activation='relu'))  # Adding the second hidden layer
ann.add(tf.keras.layers.Dense(units=1, activation='sigmoid'))   # Adding the output layer

## Part 3 - Compiling and Training the ANN

In [28]:
ann.compile(optimizer = 'adam', loss = 'binary_crossentropy', metrics = ['accuracy'])

In [29]:
ann.fit(X_train, y_train, batch_size = 32, epochs = 100)

Epoch 1/100
250/250 [==============================] - 1s 723us/step - loss: 0.5603 - accuracy: 0.7721
Epoch 2/100
250/250 [==============================] - 0s 707us/step - loss: 0.4694 - accuracy: 0.8041
Epoch 3/100
250/250 [==============================] - 0s 707us/step - loss: 0.4333 - accuracy: 0.8136
Epoch 4/100
250/250 [==============================] - 0s 695us/step - loss: 0.4180 - accuracy: 0.8204
Epoch 5/100
250/250 [==============================] - 0s 719us/step - loss: 0.4037 - accuracy: 0.8325
Epoch 6/100
250/250 [==============================] - 0s 683us/step - loss: 0.3903 - accuracy: 0.8410
Epoch 7/100
250/250 [==============================] - 0s 691us/step - loss: 0.3806 - accuracy: 0.8456
Epoch 8/100
250/250 [==============================] - 0s 683us/step - loss: 0.3732 - accuracy: 0.8495
Epoch 9/100
250/250 [==============================] - 0s 687us/step - loss: 0.3685 - accuracy: 0.8520
Epoch 10/100
250/250 [==============================] - 0s 691us/step - loss: 0.3650 - accuracy: 0.8530
Epoch 11/100
250/250 [==============================] - 0s 679us/step - loss: 0.3619 - accuracy: 0.8533
Epoch 12/100
250/250 [==============================] - 0s 691us/step - loss: 0.3597 - accuracy: 0.8540
Epoch 13/100
250/250 [==============================] - 0s 727us/step - loss: 0.3580 - accuracy: 0.8534
Epoch 14/100
250/250 [==============================] - 0s 695us/step - loss: 0.3566 - accuracy: 0.8531
Epoch 15/100
250/250 [==============================] - 0s 691us/step - loss: 0.3545 - accuracy: 0.8541
Epoch 16/100
250/250 [==============================] - 0s 687us/step - loss: 0.3538 - accuracy: 0.8544
Epoch 17/100
250/250 [==============================] - 0s 679us/step - loss: 0.3523 - accuracy: 0.8553
Epoch 18/100
250/250 [==============================] - 0s 691us/step - loss: 0.3516 - accuracy: 0.8549
Epoch 19/100
250/250 [==============================] - 0s 739us/step - loss: 0.3503 - accuracy: 0.8561
Epoch 20/100
250/250 [==============================] - 0s 683us/step - loss: 0.3495 - accuracy: 0.8565
Epoch 21/100
250/250 [==============================] - 0s 683us/step - loss: 0.3488 - accuracy: 0.8558
Epoch 22/100
250/250 [==============================] - 0s 695us/step - loss: 0.3481 - accuracy: 0.8555
Epoch 23/100
250/250 [==============================] - 0s 695us/step - loss: 0.3474 - accuracy: 0.8564
Epoch 24/100
250/250 [==============================] - 0s 691us/step - loss: 0.3472 - accuracy: 0.8556
Epoch 25/100
250/250 [==============================] - 0s 687us/step - loss: 0.3463 - accuracy: 0.8560
Epoch 26/100
250/250 [==============================] - 0s 683us/step - loss: 0.3458 - accuracy: 0.8574
Epoch 27/100
250/250 [==============================] - 0s 675us/step - loss: 0.3454 - accuracy: 0.8571
Epoch 28/100
250/250 [==============================] - 0s 715us/step - loss: 0.3448 - accuracy: 0.8568
Epoch 29/100
250/250 [==============================] - 0s 679us/step - loss: 0.3443 - accuracy: 0.8569
Epoch 30/100
250/250 [==============================] - 0s 695us/step - loss: 0.3441 - accuracy: 0.8574
Epoch 31/100
250/250 [==============================] - 0s 683us/step - loss: 0.3435 - accuracy: 0.8589
Epoch 32/100
250/250 [==============================] - 0s 695us/step - loss: 0.3433 - accuracy: 0.8570
Epoch 33/100
250/250 [==============================] - 0s 695us/step - loss: 0.3427 - accuracy: 0.8572
Epoch 34/100
250/250 [==============================] - 0s 687us/step - loss: 0.3422 - accuracy: 0.8580
Epoch 35/100
250/250 [==============================] - 0s 679us/step - loss: 0.3416 - accuracy: 0.8577
Epoch 36/100
250/250 [==============================] - 0s 683us/step - loss: 0.3415 - accuracy: 0.8570
Epoch 37/100
250/250 [==============================] - 0s 715us/step - loss: 0.3407 - accuracy: 0.8585
Epoch 38/100
250/250 [==============================] - 0s 679us/step - loss: 0.3407 - accuracy: 0.8608
Epoch 39/100
250/250 [==============================] - 0s 683us/step - loss: 0.3405 - accuracy: 0.8584
Epoch 40/100
250/250 [==============================] - 0s 703us/step - loss: 0.3397 - accuracy: 0.8595
Epoch 41/100
250/250 [==============================] - 0s 763us/step - loss: 0.3395 - accuracy: 0.8600
Epoch 42/100
250/250 [==============================] - 0s 719us/step - loss: 0.3395 - accuracy: 0.8599
Epoch 43/100
250/250 [==============================] - 0s 683us/step - loss: 0.3388 - accuracy: 0.8604
Epoch 44/100
250/250 [==============================] - 0s 691us/step - loss: 0.3386 - accuracy: 0.8604
Epoch 45/100
250/250 [==============================] - 0s 743us/step - loss: 0.3377 - accuracy: 0.8600
Epoch 46/100
250/250 [==============================] - 0s 675us/step - loss: 0.3380 - accuracy: 0.8614
Epoch 47/100
250/250 [==============================] - 0s 683us/step - loss: 0.3375 - accuracy: 0.8596
Epoch 48/100
250/250 [==============================] - 0s 695us/step - loss: 0.3376 - accuracy: 0.8612
Epoch 49/100
250/250 [==============================] - 0s 679us/step - loss: 0.3370 - accuracy: 0.8600
Epoch 50/100
250/250 [==============================] - 0s 679us/step - loss: 0.3373 - accuracy: 0.8615
Epoch 51/100
250/250 [==============================] - 0s 711us/step - loss: 0.3367 - accuracy: 0.8615
Epoch 52/100
250/250 [==============================] - 0s 695us/step - loss: 0.3362 - accuracy: 0.8614
Epoch 53/100
250/250 [==============================] - 0s 695us/step - loss: 0.3367 - accuracy: 0.8615
Epoch 54/100
250/250 [==============================] - 0s 695us/step - loss: 0.3363 - accuracy: 0.8604
Epoch 55/100
250/250 [==============================] - 0s 671us/step - loss: 0.3363 - accuracy: 0.8606
Epoch 56/100
250/250 [==============================] - 0s 703us/step - loss: 0.3365 - accuracy: 0.8624
Epoch 57/100
250/250 [==============================] - 0s 723us/step - loss: 0.3360 - accuracy: 0.8597
Epoch 58/100
250/250 [==============================] - 0s 687us/step - loss: 0.3362 - accuracy: 0.8624
Epoch 59/100
250/250 [==============================] - 0s 691us/step - loss: 0.3358 - accuracy: 0.8610
Epoch 60/100
250/250 [==============================] - 0s 687us/step - loss: 0.3358 - accuracy: 0.8606
Epoch 61/100
250/250 [==============================] - 0s 671us/step - loss: 0.3357 - accuracy: 0.8600
Epoch 62/100
250/250 [==============================] - 0s 667us/step - loss: 0.3357 - accuracy: 0.8605
Epoch 63/100
250/250 [==============================] - 0s 671us/step - loss: 0.3354 - accuracy: 0.8602
Epoch 64/100
250/250 [==============================] - 0s 683us/step - loss: 0.3357 - accuracy: 0.8627
Epoch 65/100
250/250 [==============================] - 0s 711us/step - loss: 0.3354 - accuracy: 0.8615
Epoch 66/100
250/250 [==============================] - 0s 683us/step - loss: 0.3347 - accuracy: 0.8608
Epoch 67/100
250/250 [==============================] - 0s 675us/step - loss: 0.3356 - accuracy: 0.8615
Epoch 68/100
250/250 [==============================] - 0s 679us/step - loss: 0.3357 - accuracy: 0.8609
Epoch 69/100
250/250 [==============================] - 0s 671us/step - loss: 0.3350 - accuracy: 0.8612
Epoch 70/100
250/250 [==============================] - 0s 671us/step - loss: 0.3348 - accuracy: 0.8621
Epoch 71/100
250/250 [==============================] - 0s 683us/step - loss: 0.3347 - accuracy: 0.8597
Epoch 72/100
250/250 [==============================] - 0s 670us/step - loss: 0.3346 - accuracy: 0.8614
Epoch 73/100
250/250 [==============================] - 0s 735us/step - loss: 0.3348 - accuracy: 0.8612
Epoch 74/100
250/250 [==============================] - 0s 691us/step - loss: 0.3352 - accuracy: 0.8624
Epoch 75/100
250/250 [==============================] - 0s 703us/step - loss: 0.3343 - accuracy: 0.8618
Epoch 76/100
250/250 [==============================] - 0s 691us/step - loss: 0.3345 - accuracy: 0.8622
Epoch 77/100
250/250 [==============================] - 0s 691us/step - loss: 0.3347 - accuracy: 0.8622
Epoch 78/100
250/250 [==============================] - 0s 699us/step - loss: 0.3343 - accuracy: 0.8620
Epoch 79/100
250/250 [==============================] - 0s 703us/step - loss: 0.3341 - accuracy: 0.8618
Epoch 80/100
250/250 [==============================] - 0s 767us/step - loss: 0.3345 - accuracy: 0.8639
Epoch 81/100
250/250 [==============================] - 0s 687us/step - loss: 0.3338 - accuracy: 0.8625
Epoch 82/100
250/250 [==============================] - 0s 723us/step - loss: 0.3344 - accuracy: 0.8622
Epoch 83/100
250/250 [==============================] - 0s 727us/step - loss: 0.3341 - accuracy: 0.8627
Epoch 84/100
250/250 [==============================] - 0s 711us/step - loss: 0.3337 - accuracy: 0.8631
Epoch 85/100
250/250 [==============================] - 0s 739us/step - loss: 0.3340 - accuracy: 0.8633
Epoch 86/100
250/250 [==============================] - 0s 715us/step - loss: 0.3337 - accuracy: 0.8626
Epoch 87/100
250/250 [==============================] - 0s 695us/step - loss: 0.3333 - accuracy: 0.8633
Epoch 88/100
250/250 [==============================] - 0s 747us/step - loss: 0.3332 - accuracy: 0.8648
Epoch 89/100
250/250 [==============================] - 0s 703us/step - loss: 0.3334 - accuracy: 0.8629
Epoch 90/100
250/250 [==============================] - 0s 735us/step - loss: 0.3336 - accuracy: 0.8636
Epoch 91/100
250/250 [==============================] - 0s 723us/step - loss: 0.3330 - accuracy: 0.8633
Epoch 92/100
250/250 [==============================] - 0s 707us/step - loss: 0.3331 - accuracy: 0.8643
Epoch 93/100
250/250 [==============================] - 0s 727us/step - loss: 0.3334 - accuracy: 0.8652
Epoch 94/100
250/250 [==============================] - 0s 715us/step - loss: 0.3333 - accuracy: 0.8634
Epoch 95/100
250/250 [==============================] - 0s 711us/step - loss: 0.3329 - accuracy: 0.8635
Epoch 96/100
250/250 [==============================] - 0s 699us/step - loss: 0.3327 - accuracy: 0.8641
Epoch 97/100
250/250 [==============================] - 0s 711us/step - loss: 0.3331 - accuracy: 0.8636
Epoch 98/100
250/250 [==============================] - 0s 679us/step - loss: 0.3330 - accuracy: 0.8644
Epoch 99/100
250/250 [==============================] - 0s 687us/step - loss: 0.3327 - accuracy: 0.8644
Epoch 100/100
250/250 [==============================] - 0s 755us/step - loss: 0.3329 - accuracy: 0.8637

## Part 4 - Making the predictions and evaluating the model

**Homework**

Use our ANN model to predict if the customer with the following informations will leave the bank: 

Geography: France

Credit Score: 600

Gender: Male

Age: 40 years old

Tenure: 3 years

Balance: \$ 60000

Number of Products: 2

Does this customer have a credit card ? Yes

Is this customer an Active Member: Yes

Estimated Salary: \$ 50000

So, should we say goodbye to that customer ?

In [30]:
print(ann.predict(sc.transform([[1, 0, 0, 600, 1, 40, 3, 60000, 2, 1, 1, 50000]])) > 0.5)

1/1 [==============================] - 0s 73ms/step
[[False]]

Therefore, our ANN model predicts that this customer stays in the bank!

**Important note 1:** Notice that the values of the features were all input in a double pair of square brackets. That's because the "predict" method always expects a 2D array as the format of its inputs. And putting our values into a double pair of square brackets makes the input exactly a 2D array.

**Important note 2:** Notice also that the "France" country was not input as a string in the last column but as "1, 0, 0" in the first three columns. That's because of course the predict method expects the one-hot-encoded values of the state, and as we see in the first row of the matrix of features X, "France" was encoded as "1, 0, 0". And be careful to include these values in the first three columns, because the dummy variables are always created in the first columns.

### Predicting the Test set results and Confusion matrix

In [53]:
y_pred = ann.predict(X_test)
y_pred = (y_pred > 0.5)
y_test_array = y_test.to_numpy()
print(np.concatenate((y_pred.reshape(len(y_pred),1), y_test_array.reshape(len(y_test_array),1)),1))

63/63 [==============================] - 0s 613us/step
[[0 0]
 [0 1]
 [0 0]
 ...
 [0 0]
 [0 0]
 [0 0]]

In [33]:
from sklearn.metrics import confusion_matrix, accuracy_score
cm = confusion_matrix(y_test, y_pred)
print(cm)
accuracy_score(y_test, y_pred)

[[1514   81]
 [ 195  210]]

0.862